.reserve {
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    color: white;
    /* min-width: 1200px; */
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.reserve_daddy {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 5px solid rgb(77, 77, 77);

    border-radius: 10px;
    margin: 60px auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.reserve_daddy>h1 {
    margin: 20px;
    font-size: 64px;
    font-family: 'Caveat', cursive;

}

.reserve_pic {
    width: 80%;
    height: 80vh;
    display: inline-block;
    overflow: hidden;

}

.reserve_pic img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.reserve_txt>h3 {
    /* border: 1px solid blueviolet; */
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 32px;
}

.reserve_txt>p {
    /* border: 1px solid yellow; */
    line-height: 30px;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 30px;
}

.select_all {
    width: 400px;
    /* border: 1px solid pink; */
    display: flex;
    margin: 20px auto 30px;
    justify-content: space-around;
}

.select_time {
    font-size: 20px;
    margin-bottom: 12px;
}

.people,
.room {
    padding: 10px;
    background-color: lightyellow;
    border-radius: 10px;
    width: 200px;
}

.room {
    margin-left: 20px;
}



.date {
    background-color: lightyellow;
    border-radius: 10px;
    color: black;

}

.date {
    /* border: 1px solid white; */
    padding: 6px;
    margin-bottom: 20px;
}

.btn_time {
    padding: 10px;
}

.btn_time>button {
    background-color: lightyellow;
    padding: 10px;
    margin-left: 6px;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
}



.btn_time>button:hover {
    cursor: pointer;
    background-color: white;
    opacity: .8;
}

button.res1_btn {
    background-color: gray;
}

/*  其他備註  */


textarea {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(224, 224, 224);
    color: gray;
    width: 480px;
    height: 300px;
    margin-bottom: 20px;
    transition: .5s;

    outline: none;
    resize: none;
}

textarea:focus {
    border: 3px solid rgb(104, 104, 104);
}

.remark {
    margin: 10px auto;
    font-size: 20px;
}

.submit {
    background-color: lightyellow;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 20px;
    color: black;

}

.submit:hover {
    cursor: pointer;
    background-color: white;
    opacity: .8;
}


/* ----------- RWD ----------- */

@media (min-width:991.98px) and (max-width:1199.98px) {
    .reserve {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        color: white;

    }

    .reserve_daddy {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 5px solid rgb(77, 77, 77);

        border-radius: 10px;
        margin: 60px auto;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .reserve_daddy>h1 {
        margin: 20px;
        font-size: 64px;
        font-family: 'Caveat', cursive;

    }

    .reserve_pic {
        width: 100%;
        height: 80%;
        display: inline-block;
        overflow: hidden;

    }

    .reserve_pic img {
        width: 100%;
        vertical-align: top;
    }

    .reserve_txt>h3 {
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        font-size: 24px;
    }

    .reserve_txt>p {
        line-height: 30px;
        font-size: 16px;
        padding: 12px;
        margin-bottom: 30px;
    }

    .select_all {
        width: 100%;
        display: flex;
        margin: 20px auto 30px;
        justify-content: space-around;
    }

    .select_time {
        font-size: 14px;
    }

    .people,
    .room {
        padding: 10px;
        background-color: lightyellow;
        border-radius: 10px;
        width: 150px;
    }

    .room {
        margin-left: 20px;
    }

    .date {
        background-color: lightyellow;
        border-radius: 10px;
    }

    .date {
        /* border: 1px solid white; */
        padding: 6px;
        margin-bottom: 20px;
    }

    .btn_time {
        padding: 10px;
    }

    .btn_time>button {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 6px;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 10px;
    }



    .btn_time>button:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    button.res1_btn {
        background-color: gray;
    }

    /*  其他備註  */


    textarea {
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(224, 224, 224);
        color: gray;
        width: 70%;
        margin-bottom: 20px;
        transition: .5s;

        outline: none;
        resize: none;
    }

    textarea:focus {
        border: 3px solid rgb(104, 104, 104);
    }

    .remark {
        margin: 10px auto;
        font-size: 20px;
    }

    .submit {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 5px;
        border: 1px solid white;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 20px;
    }

    .submit:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    p.select_time {
        font-size: 16px;
    }
}

@media (min-width:769px) and (max-width:991.98px) {
    .reserve {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        color: white;

    }

    .reserve_daddy {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 5px solid rgb(77, 77, 77);

        border-radius: 10px;
        margin: 60px auto;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .reserve_daddy>h1 {
        margin: 20px;
        font-size: 64px;
        font-family: 'Caveat', cursive;

    }

    .reserve_pic {
        width: 100%;
        height: 80%;
        display: inline-block;
        overflow: hidden;

    }

    .reserve_pic img {
        width: 100%;
        vertical-align: top;
    }

    .reserve_txt>h3 {
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    .reserve_txt>p {
        line-height: 30px;
        font-size: 14px;
        padding: 12px;
        margin-bottom: 30px;
    }

    .select_all {
        width: 100%;
        display: flex;
        margin: 20px auto 30px;
        justify-content: space-around;
    }

    .select_time {
        font-size: 12px;
    }

    .people,
    .room {
        padding: 10px;
        background-color: lightyellow;
        border-radius: 10px;
        width: 200px;
    }

    .room {
        margin-left: 10px;
    }

    .date {
        background-color: lightyellow;
        border-radius: 10px;
    }

    .date {
        /* border: 1px solid white; */
        padding: 6px;
        margin-bottom: 20px;
    }

    .btn_time {
        padding: 10px;
    }

    .btn_time>button {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 6px;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 10px;
    }



    .btn_time>button:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    button.res1_btn {
        background-color: gray;
    }

    /*  其他備註  */


    textarea {
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(224, 224, 224);
        color: gray;
        width: 95%;
        margin-bottom: 20px;
        transition: .5s;

        outline: none;
        resize: none;
    }

    textarea:focus {
        border: 3px solid rgb(104, 104, 104);
    }

    .remark {
        margin: 10px auto;
        font-size: 20px;
    }

    .submit {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 5px;
        border: 1px solid white;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 20px;
    }

    .submit:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    p.select_time {
        font-size: 16px;
    }

}

@media(max-width:768.98px) {
    .reserve {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        color: white;

    }

    .reserve_daddy {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 5px solid rgb(77, 77, 77);

        border-radius: 10px;
        margin: 60px auto;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .reserve_daddy>h1 {
        margin: 20px;
        font-size: 64px;
        font-family: 'Caveat', cursive;

    }

    .reserve_pic {
        width: 100%;
        height: 80%;
        display: inline-block;
        overflow: hidden;

    }

    .reserve_pic img {
        width: 100%;
        vertical-align: top;
    }

    .reserve_txt>h3 {
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    .reserve_txt>p {
        line-height: 30px;
        font-size: 14px;
        padding: 12px;
        margin-bottom: 30px;
    }

    .select_all {
        width: 100%;
        display: flex;
        margin: 20px auto 30px;
        justify-content: space-around;
    }

    .select_time {
        font-size: 12px;
    }

    .people,
    .room {
        padding: 10px;
        background-color: lightyellow;
        border-radius: 10px;
        width: 150px;
    }

    .room {
        margin-left: 20px;
    }

    .date {
        background-color: lightyellow;
        border-radius: 10px;
    }

    .date {
        /* border: 1px solid white; */
        padding: 6px;
        margin-bottom: 20px;
    }

    .btn_time {
        padding: 10px;
    }

    .btn_time>button {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 6px;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 10px;
    }



    .btn_time>button:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    button.res1_btn {
        background-color: gray;
    }

    /*  其他備註  */


    textarea {
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(224, 224, 224);
        color: gray;
        width: 95%;
        margin-bottom: 20px;
        transition: .5s;

        outline: none;
        resize: none;
    }

    textarea:focus {
        border: 3px solid rgb(104, 104, 104);
    }

    .remark {
        margin: 10px auto;
        font-size: 20px;
    }

    .submit {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 5px;
        border: 1px solid white;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 20px;
    }

    .submit:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    p.select_time {
        font-size: 16px;
    }
}

@media (min-width:375px) and (max-width:576px) {
    .reserve {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        color: white;

    }

    .reserve_daddy {
        width: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 5px solid rgb(77, 77, 77);

        border-radius: 10px;
        margin: 60px auto;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .reserve_daddy>h1 {
        margin: 20px;
        font-size: 64px;
        font-family: 'Caveat', cursive;

    }

    .reserve_pic {
        width: 100%;
        height: 80%;
        display: inline-block;
        overflow: hidden;

    }

    .reserve_pic img {
        width: 100%;
        vertical-align: top;
    }

    .reserve_txt>h3 {
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    .reserve_txt>p {
        line-height: 30px;
        font-size: 12px;
        padding: 8px;
        margin-bottom: 30px;
    }

    .select_all {
        width: 100%;
        display: flex;
        margin: 20px auto 30px;
        justify-content: space-around;
    }

    .select_time {
        font-size: 12px;
    }

    .people,
    .room {
        padding: 10px;
        background-color: lightyellow;
        border-radius: 10px;
        width: 150px;
    }

    .room {
        margin-left: 20px;
    }

    .date {
        background-color: lightyellow;
        border-radius: 10px;
    }

    .date {
        /* border: 1px solid white; */
        padding: 6px;
        margin-bottom: 20px;
    }

    .btn_time {
        padding: 10px;
    }

    .btn_time>button {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 6px;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 10px;
    }



    .btn_time>button:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    button.res1_btn {
        background-color: gray;
    }

    /*  其他備註  */


    textarea {
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(224, 224, 224);
        color: gray;
        width: 95%;
        margin-bottom: 20px;
        transition: .5s;

        outline: none;
        resize: none;
    }

    textarea:focus {
        border: 3px solid rgb(104, 104, 104);
    }

    .remark {
        margin: 10px auto;
        font-size: 20px;
    }

    .submit {
        background-color: lightyellow;
        padding: 10px;
        margin-left: 5px;
        border: 1px solid white;
        border-radius: 10px;
        width: 100px;
        margin-bottom: 20px;
    }

    .submit:hover {
        cursor: pointer;
        background-color: white;
        opacity: .8;
    }

    p.select_time {
        font-size: 16px;
    }
}