.all_item {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    /* border: 5px solid red; */
    margin: 40px auto;
    width: 80%;
}

.all_item h1 {
    font-size: 32px;
    text-align: center;
    padding: 40px;
    color: white;
}

.content img {
    width: 1000px;
    /* border: 2px solid red; */
    height: 500px;
    /* display: none; */
}

.sliderBoard {
    /* border: 1px solid yellow; */
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;

}

.content {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
}




.contentButton {
    /* border: 5px solid red; */
    text-align: center;
    padding: 5px;

    width: 100%;
    height: 50px;
}

.contentButton li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 8px;

    display: inline-block;
}

.contentButton li.clicked {
    background-color: #f5ea8e;
}


/* ------------ cash ------------ */

.cash_item {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 20px;

    margin: 10px auto;
    padding: 30px;
}

.cash_products {
    /* border: 1px solid green; */
    width: 100%;
}

.cash_img {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cash_img img {
    width: 100%;
}

.cash_text {
    /* border: 1px solid blue; */
    width: 100%;
    padding: 14px 5px;
}

.cash_text h3 {
    font-size: 16px;
    text-align: center;
    color: white;
}

button {
    width: 100px;
    height: 30px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    outline: none;
    border: 2px solid #fff8b6;
}

button:hover {
    background-color: #fff8b6;
    outline: none;
    border: 2px solid white;
}

.cash_products p {
    text-align: center;
    color: white;
    margin-top: 8px;
    font-size: 14px;
}

/* ------- RWD ------- */

@media (min-width:1200px) and (max-width:1400px) {
    .all_item {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 40px auto;
        width: 90%;
    }

    .all_item h1 {
        font-size: 26px;
        text-align: center;
        padding: 40px;
        color: white;
    }

    .content img {
        width: 940px;
        /* border: 2px solid red; */
        height: 490px;
        /* display: none; */
    }

    .sliderBoard {
        /* border: 1px solid yellow; */
        width: 940px;
        height: 490px;
        margin: 0 auto;
        overflow: hidden;

    }

    .content {
        position: relative;
        display: flex;
        list-style: none;
        padding: 0;
    }

    .contentButton li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 8px;

        display: inline-block;
    }

    /* ------------ cash ------------ */

    .cash_item {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        gap: 16px;
        margin: 10px auto;
        padding: 30px;
    }

    .cash_text h3 {
        font-size: 16px;
        text-align: center;
        color: white;
    }

    button {
        width: 70px;
        height: 30px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        outline: none;
        border: 2px solid #fff8b6;
    }
}

@media (min-width:993px) and (max-width:1200px) {
    .all_item {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 40px auto;
        width: 90%;
    }

    .all_item h1 {
        font-size: 26px;
        text-align: center;
        padding: 40px;
        color: white;
    }

    .content img {
        width: 860px;
        /* border: 2px solid red; */
        height: 460px;
        /* display: none; */
    }

    .sliderBoard {
        /* border: 1px solid yellow; */
        width: 860px;
        height: 460px;
        margin: 0 auto;
        overflow: hidden;

    }

    .content {
        position: relative;
        display: flex;
        list-style: none;
        padding: 0;
    }

    .contentButton li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 8px;

        display: inline-block;
    }

    /* ------------ cash ------------ */

    .cash_item {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        gap: 16px;
        margin: 10px auto;
        padding: 30px;
    }

    .cash_text h3 {
        font-size: 16px;
        text-align: center;
        color: white;
    }

    button {
        width: 70px;
        height: 30px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        outline: none;
        border: 2px solid #fff8b6;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .all_item {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 40px auto;
        width: 90%;
    }

    .all_item h1 {
        font-size: 26px;
        text-align: center;
        padding: 40px;
        color: white;
    }

    .content img {
        width: 680px;
        /* border: 2px solid red; */
        height: 400px;
        /* display: none; */
    }

    .sliderBoard {
        /* border: 1px solid yellow; */
        width: 680px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;

    }

    .content {
        position: relative;
        display: flex;
        list-style: none;
        padding: 0;
    }

    .contentButton li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 8px;

        display: inline-block;
    }

    /* ------------ cash ------------ */

    .cash_item {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        gap: 16px;
        margin: 10px auto;
        padding: 30px;
    }

    .cash_text h3 {
        font-size: 14px;
        text-align: center;
        color: white;
    }

    button {
        width: 70px;
        height: 30px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        outline: none;
        border: 2px solid #fff8b6;
    }
}


@media (min-width:577px) and (max-width:768px) {
    .all_item {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 40px auto;
        width: 90%;
    }

    .all_item h1 {
        font-size: 26px;
        text-align: center;
        padding: 40px;
        color: white;
    }

    .content img {
        width: 500px;
        /* border: 2px solid red; */
        height: 300px;
        /* display: none; */
    }

    .sliderBoard {
        /* border: 1px solid yellow; */
        width: 500px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;

    }

    .content {
        position: relative;
        display: flex;
        list-style: none;
        padding: 0;
    }

    .contentButton li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 8px;

        display: inline-block;
    }

    /* ------------ cash ------------ */

    .cash_item {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 10px;
        margin: 10px auto;
        padding: 30px;
    }

    .cash_text h3 {
        font-size: 14px;
        text-align: center;
        color: white;
    }

    button {
        width: 60px;
        height: 30px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        outline: none;
        border: 2px solid #fff8b6;
    }
}

@media (min-width:375px) and (max-width:576px) {
    .all_item {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 40px auto;
        width: 90%;
    }

    .all_item h1 {
        font-size: 26px;
        text-align: center;
        padding: 40px;
        color: white;
    }

    .content img {
        width: 330px;
        /* border: 2px solid red; */
        height: 200px;
        /* display: none; */
    }

    .sliderBoard {
        /* border: 1px solid yellow; */
        width: 330px;
        height: 200px;
        margin: 0 auto;
        overflow: hidden;

    }

    .content {
        position: relative;
        display: flex;
        list-style: none;
        padding: 0;
    }

    .contentButton li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 8px;

        display: inline-block;
    }

    /* ------------ cash ------------ */

    .cash_item {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 10px;
        margin: 10px auto;
        padding: 30px;
    }

    .cash_text h3 {
        font-size: 10px;
        text-align: center;
        color: white;
    }

    button {
        width: 60px;
        height: 30px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        outline: none;
        border: 2px solid #fff8b6;
    }

    .cash_products p {
        text-align: center;
        color: white;
        margin-top: 8px;
        font-size: 10px;
    }
}