.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.tab_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.tab_input[type="radio"] {
    display: none;
}


/* tab title */
.tab_container .label_title {
    margin: 100px 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #3f3f3f;
    color: #fff;
    width: 22%;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.tab_content {
    /* border: 5px solid yellow; */
    order: 1;
    display: none;
    width: 100%;
    font-size: 16px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    margin: 0 auto 100px;
}



#tab1:checked+label+.tab_content {
    display: flex;
}

.tab input:checked+label,
.tab .label_title:hover {
    /* opacity: 1; */
    background-color: white;
    color: black;
}

.tab input:checked+label+.tab_content {
    display: initial;
}

/* ---------- tab 1 form ---------- */
.theForm {
    /* border: 1px solid red; */
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.theForm h1 {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding: 14px;
}

.theForm div label {
    /* border: 1px solid blue; */
    margin: 20px 90px 0 0;
    font-size: 20px;
}

.theForm div {
    /* border: 1px solid green; */
    margin: 60px;
}

.theForm input {
    width: 300px;
    height: 30px;
    font-size: 18px;
}

.theForm a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.theForm a:hover {
    color: black;
}

.btn {
    /* border: 1px solid green; */
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.btn button {
    width: 220px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 1px solid #3f3f3f;
    color: black;
}

.btn button:hover {
    cursor: pointer;
}

/* --------- tab 2 cash --------- */

.theCash {
    /* border: 1px solid red; */
    width: 100%;
    margin: 50px auto;
}


.theCash div label {
    /* border: 1px solid blue; */
    margin: 20px auto;
    font-size: 20px;
}

.theCash div {
    /* border: 1px solid green; */
    width: 80%;
    margin: 20px auto;
}

.theCash input {
    width: 150px;
    height: 30px;
    font-size: 18px;
    margin: 70px;
}

.theCash a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.cash {
    /* border: 1px solid red; */
    margin: 10px;
    padding: 30px;
    width: 100%;
}

.cash h1 {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding: 14px;
}

.cash label {
    /* border: 1px solid blue; */
    margin: 20px 0;
}

/* --------- tab 3 textarea --------- */

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.message h2 {
    font-size: 28px;
    margin: 10px 0;
}

.message span {
    font: 16px;
    margin: 14px 0;
}

.message .message_text {
    width: 400px;
    resize: none;
}


.btn_text {
    /* border: 1px solid green; */
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.btn_text button {
    width: 140px;
    height: 30px;
    font-size: 16px;
    margin: 0 40px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 1px solid #3f3f3f;
    color: black;
    /* background-color: rgb(200, 200, 200); */
}

.inputBox {
    width: 140px;
    height: 30px;
    border: 3px dashed #ccc;
    text-align: center;
    position: relative;
    left: -25%;
    bottom: -16%;
    opacity: 0;
}

.add {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#theFile {
    width: 140px;
    height: 140px;
    opacity: 0;
}

@media (min-width:993px) and (max-width:1200px) {
    .tab_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .tab_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
    }

    .tab_input[type="radio"] {
        display: none;
    }


    /* tab title */
    .tab_container .label_title {
        margin: 100px 5px 5px 0;
        padding: 10px 16px;
        cursor: pointer;
        border-radius: 5px;
        background: #3f3f3f;
        color: #fff;
        width: 22%;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
    }

    .tab_content {
        /* border: 5px solid yellow; */
        order: 1;
        display: none;
        width: 100%;
        font-size: 16px;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(221, 221, 221);
        margin: 0 auto 100px;
    }



    #tab1:checked+label+.tab_content {
        display: flex;
    }

    .tab input:checked+label,
    .tab .label_title:hover {
        /* opacity: 1; */
        background-color: white;
        color: black;
    }

    .tab input:checked+label+.tab_content {
        display: initial;
    }

    /* ---------- tab 1 form ---------- */
    .theForm {
        /* border: 1px solid red; */
        margin: 10px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .theForm h1 {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid gray;
        padding: 14px;
    }

    .theForm div label {
        /* border: 1px solid blue; */
        margin: 20px 20px 0 0;
        font-size: 16px;
    }

    .theForm div {
        /* border: 1px solid green; */
        margin: 40px;
    }

    .theForm input {
        width: 280px;
        height: 24px;
        font-size: 16px;
    }

    .theForm a {
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-size: 16px;
    }

    .theForm a:hover {
        color: black;
    }

    .btn {
        /* border: 1px solid green; */
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .btn button {
        width: 200px;
        height: 30px;
        font-size: 16px;
        /* background-color: rgb(200, 200, 200); */
    }

    .btn button:hover {
        cursor: pointer;
    }

    /* --------- tab 2 cash --------- */

    .theCash {
        /* border: 1px solid red; */
        width: 100%;
        margin: 50px auto;
    }


    .theCash div label {
        /* border: 1px solid blue; */
        margin: 20px auto;
        font-size: 16px;
    }

    .theCash div {
        /* border: 1px solid green; */
        width: 100%;
        margin: 20px auto;
    }

    .theCash input {
        /* border: 1px solid green; */
        width: 120px;
        height: 30px;
        font-size: 18px;
        margin: 70px 0 0 30px;
    }

    .theCash a {
        text-decoration: none;
        color: rgb(90, 90, 90);
    }

    .cash {
        /* border: 1px solid red; */
        margin: 10px;
        padding: 30px;
        width: 100%;
    }

    .cash h1 {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid gray;
        padding: 14px;
    }

    .cash label {
        /* border: 1px solid blue; */
        margin: 0;
    }

    /* --------- tab 3 textarea --------- */

    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .message h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .message span {
        font: 14px;
        margin: 14px 0;
    }

    /* textarea */
    .message .message_text {
        width: 300px;
        resize: none;
    }


    .btn_text {
        /* border: 1px solid green; */
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .btn_text button {
        width: 100px;
        height: 30px;
        font-size: 14px;
        margin: 0 40px;
        /* background-color: rgb(200, 200, 200); */
    }

    .inputBox {
        width: 140px;
        height: 30px;
        border: 3px dashed #ccc;
        text-align: center;
        position: relative;
        left: -25%;
        bottom: -16%;
        opacity: 0;
    }

    .add {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #theFile {
        width: 140px;
        height: 140px;
        opacity: 0;
    }
}

@media (min-width:577px) and (max-width:767px) {
    .tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .tab_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
    }

    .tab_input[type="radio"] {
        display: none;
    }


    /* tab title */
    .tab_container .label_title {
        margin: 100px 5px 5px 0;
        padding: 10px 16px;
        cursor: pointer;
        border-radius: 5px;
        background: #3f3f3f;
        color: #fff;
        width: 22%;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
    }

    .tab_content {
        /* border: 5px solid yellow; */
        order: 1;
        display: none;
        width: 100%;
        font-size: 16px;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(221, 221, 221);
        margin: 0 auto 100px;
    }



    #tab1:checked+label+.tab_content {
        display: flex;
    }

    .tab input:checked+label,
    .tab .label_title:hover {
        /* opacity: 1; */
        background-color: white;
        color: black;
    }

    .tab input:checked+label+.tab_content {
        display: initial;
    }

    /* ---------- tab 1 form ---------- */
    .theForm {
        /* border: 1px solid red; */
        margin: 10px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .theForm h1 {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid gray;
        padding: 14px;
    }

    .theForm div label {
        /* border: 1px solid blue; */
        margin: 20px 20px 0 0;
        font-size: 16px;
    }

    .theForm div {
        /* border: 1px solid green; */
        margin: 40px;
    }

    .theForm input {
        width: 200px;
        height: 24px;
        font-size: 16px;
    }

    .theForm a {
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-size: 12px;
    }

    .theForm a:hover {
        color: black;
    }

    .btn {
        /* border: 1px solid green; */
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .btn button {
        width: 200px;
        height: 30px;
        font-size: 16px;
        /* background-color: rgb(200, 200, 200); */
    }

    .btn button:hover {
        cursor: pointer;
    }

    /* --------- tab 2 cash --------- */

    .theCash {
        /* border: 1px solid red; */
        width: 100%;
        margin: 50px auto;
    }


    .theCash div label {
        /* border: 1px solid blue; */
        margin: 20px auto;
        font-size: 16px;
    }

    .theCash div {
        /* border: 1px solid green; */
        width: 100%;
        margin: 20px auto;
    }

    .theCash input {
        /* border: 1px solid green; */
        width: 120px;
        height: 30px;
        font-size: 18px;
        margin: 70px 0 0 30px;
    }

    .theCash a {
        text-decoration: none;
        color: rgb(90, 90, 90);
    }

    .cash {
        /* border: 1px solid red; */
        margin: 10px;
        padding: 30px;
        width: 100%;
    }

    .cash h1 {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid gray;
        padding: 14px;
    }

    .cash label {
        /* border: 1px solid blue; */
        margin: 0;
    }

    /* --------- tab 3 textarea --------- */

    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .message h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .message span {
        font: 14px;
        margin: 14px 0;
    }

    /* textarea */
    .message .message_text {
        width: 300px;
        resize: none;
    }


    .btn_text {
        /* border: 1px solid green; */
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .btn_text button {
        width: 100px;
        height: 30px;
        font-size: 14px;
        margin: 0 40px;
        /* background-color: rgb(200, 200, 200); */
    }

    .inputBox {
        width: 140px;
        height: 30px;
        border: 3px dashed #ccc;
        text-align: center;
        position: relative;
        left: -25%;
        bottom: -16%;
        opacity: 0;
    }

    .add {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #theFile {
        width: 140px;
        height: 140px;
        opacity: 0;
    }
}

@media (min-width:375px) and (max-width:576px) {

    .tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .tab_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .tab_input[type="radio"] {
        display: none;
    }


    /* tab title */
    .tab_container .label_title {
        margin: 100px 5px 5px 0;
        padding: 10px 16px;
        cursor: pointer;
        border-radius: 5px;
        background: #3f3f3f;
        color: #fff;
        width: 22%;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
    }

    .tab_content {
        /* border: 5px solid yellow; */
        order: 1;
        display: none;
        width: 100%;
        font-size: 16px;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(221, 221, 221);
        margin: 0 auto 100px;
    }



    #tab1:checked+label+.tab_content {
        display: flex;
    }

    .tab input:checked+label,
    .tab .label_title:hover {
        /* opacity: 1; */
        background-color: white;
        color: black;
    }

    .tab input:checked+label+.tab_content {
        display: initial;
    }

    /* ---------- tab 1 form ---------- */
    .theForm {
        /* border: 1px solid red; */
        margin: 10px;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .theForm h1 {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid gray;
        padding: 14px;
    }

    .theForm div label {
        /* border: 1px solid blue; */
        margin: 20px 20px 0 0;
        font-size: 16px;
    }

    .theForm div {
        /* border: 1px solid green; */
        margin: 40px;
    }

    .theForm input {
        width: 170px;
        height: 24px;
        font-size: 12px;
    }

    .theForm a {
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-size: 12px;
    }

    .theForm a:hover {
        color: black;
    }

    .btn {
        /* border: 1px solid green; */
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .btn button {
        width: 160px;
        height: 30px;
        font-size: 14px;
        /* background-color: rgb(200, 200, 200); */
    }

    .btn button:hover {
        cursor: pointer;
    }

    /* --------- tab 2 cash --------- */

    .theCash {
        /* border: 1px solid red; */
        width: 100%;
        margin: 50px auto;
    }


    .theCash div label {
        /* border: 1px solid blue; */
        margin: 20px auto;
        font-size: 16px;
    }

    .theCash div {
        /* border: 1px solid green; */
        width: 100%;
        margin: 20px auto;
    }

    .theCash input {
        /* border: 1px solid green; */
        width: 100px;
        height: 30px;
        font-size: 18px;
        margin: 70px 0 0 30px;
    }

    .theCash a {
        text-decoration: none;
        color: rgb(90, 90, 90);
    }

    .cash {
        /* border: 1px solid red; */
        margin: 10px;
        padding: 30px;
        width: 100%;
    }

    .cash h1 {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid gray;
        padding: 14px;
    }

    .cash label {
        /* border: 1px solid blue; */
        margin: 0;
    }

    /* --------- tab 3 textarea --------- */

    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .message h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .message span {
        font: 14px;
        margin: 14px 0;
    }

    /* textarea */
    .message .message_text {
        width: 300px;
        resize: none;
    }


    .btn_text {
        /* border: 1px solid green; */
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .btn_text button {
        width: 100px;
        height: 30px;
        font-size: 14px;
        margin: 0 40px;
        /* background-color: rgb(200, 200, 200); */
    }

    .inputBox {
        width: 140px;
        height: 30px;
        border: 3px dashed #ccc;
        text-align: center;
        position: relative;
        left: -25%;
        bottom: -16%;
        opacity: 0;
    }

    .add {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #theFile {
        width: 140px;
        height: 140px;
        opacity: 0;
    }
}